@keyframes graduallyEmergingFirst{
  from{opacity:0;}
  to{opacity:1;}
}
@keyframes graduallyEmergingAfter{
  from{opacity:0;}
  to{opacity:1;}
}
@keyframes buttonEffectsSd {
  0%{
    background:#f6f6f6;
  }
  50%{
    background: #c2c2c2;
  }
  100%{
    background:#f6f6f6;
  }
}
@keyframes buttonEffectsSe {
  0%{
    background:#f6f6f6;
  }
  50%{
    background:#c2c2c2;
  }
  100%{
    background:#f6f6f6;
  }
}
.svgAreaPathLine{
  opacity:0.5;
  stroke-linecap:round;
  fill-rule:evenodd;
  transition: 0.5s;
}
.svgAreaHighlight{
  stroke-width:5px;
  stroke-linecap:round;
}
.svgAreaSelectText{
  font-size:15px;
  text-shadow:1px 1px 1px #343434;
  user-select:none;
  pointer-events:none;
}
.svgLineSelectText{
  font-size:15px;
  text-shadow:1px 1px 1px #737373;
  user-select:none;
  pointer-events:none;
}
.svgPointSelectText{
  transform:translateX(0px) translateY(-14px);
  font-size:15px;
  text-shadow:1px 1px 1px #737373;
  text-anchor:middle;
  user-select:none;
  pointer-events:none;
}
.svgLineTextPath{
  fill:none;
  user-select:none;
  pointer-events:none;
}
.svgCircleHighlight{
  stroke-width: 2;
  fill: rgba(255,255,255,0.75);
  pointer-events: fill;
}
.svgCircleInner{
  pointer-events: fill;
  fill-opacity: 0.8;
}
.svgLineFillNode{
  stroke-width:1;
  pointer-events:fill;
}
.svgLineNodeEffect{
  pointer-events:fill;
  fill:#ffffff;
  stroke:#000000;
  stroke-width:1;
}
.svgLineVirtualNode{
  stroke-width:1;
  pointer-events:fill;
  fill:#ffffff;
}
.svgPointTempCircle{
  pointer-events: fill;
  fill-opacity: 0.8;
  stroke-width: 1;
}
.svgLineTempPreview{
  fill:rgba(10,10,10,0.2);
  stroke-width:3px;
  stroke:rgba(10,10,10,0.2);
}
.svgLineTempCircle{
  stroke-width:1;
  stroke:#010101;
  pointer-events:fill;
  fill:#ffffff;
}
.svgLineTempMain{
  fill: rgba(255,255,255,0);
}
.svgAreaTempPreviewA{
  stroke: #dedede;
  stroke-width: 3;
  opacity: 0.5;
  stroke-linecap: round;
}
.svgAreaTempPreviewB{
  pointer-events:fill;
  fill-opacity:0.8;
  fill:#bbb
}
.svgAreaTempMain{
  fill:rgba(255,255,255,0);
}
.svgAreaTempCircle{
  stroke-width: 1;
  stroke: #010101;
  pointer-events: fill;
  fill: #ffffff;
}
.graduallyEmergingFirst{animation:graduallyEmergingFirst 1s forwards;}
.graduallyEmergingAfter{animation:graduallyEmergingAfter 1s forwards;}
